@font-face {
    font-family:"josefa";
    src: url(assets/JosefaRoundedReduced-Light.otf); 
}

html, body {
   overflow: hidden;
}

body {
background-image: url("assets/new\ background.png");
background-size:cover;
}

.title{
     /* title container*/
     display:flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     transform: translate(35px,0px);
}

.title h1{
    position: absolute;
    text-align: center;
    width: 117px;
    height:116px;
    transform: translate(0px,40px);
    
}
   
.middle{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;

}

.video-column{
display: flex;
flex-direction:column;
margin-left: 0px;
align-items: center;
}


.frame-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video{
 /*video container*/
 width: 560px;
 height: 339px;
 border-radius: 50px;
 background: #FFF7EE;

 /*This centers the video in the container*/
 display: flex;
 justify-content: center;
 align-items: center;

}

#camera{
    width:94%;
    height: 88%;
    object-fit: cover;
    border-radius:40px;
    transform: scaleX(-1);
}

.picture{
/*the poloroid frame container*/
width: 450px;
aspect-ratio: 35/113;
display:flex;
margin-top: -550px;
position: relative;
}

.picture .captured-photo{
  position:absolute;
  left: 132px;
  top: 405px;
  width: 160px;
  height: 165px;
  object-fit: cover;
  transform: scaleX(-1);
  z-index: 2;

}

.frame-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.capture{
/*The css for the capture button*/
 width: 280px;
 height: 50px;
 border-radius: 50px;
 background-color:#FFF7EE;
 margin-top: 40px;

/* The css for the text */
color: #000;
font-family: "josefa";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.capture img {
    width: 36px;
    height: 36px;
    object-fit: contain;
    transform: translate(0px,6.3px);
}

.download{
/* The css for the download button */
width: 280px;
height: 50px;
border-radius: 50px;
background-color:#FFF7EE;
margin-top:-450px;

 position: relative;
 z-index: 10;

 /*The css for the text */
color: #000;
font-family: "josefa";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.rewind{
    /*This controls the shape of the button*/
    width: 68px;
    height:64px;
    border-radius: 50%;
    background-color:#FFF7EE;
    position: relative;
    z-index: 10;

    /*This controls where the button sits*/
   transform:translateX(150px);
}

.rewind img{
    width: 45px;
    height: 54px;
    object-fit: contain;
}

